In [1]:
import pandas as pd
import os

In [4]:
os.chdir(r'C:\Backup\Downloads\AirSeva')

In [5]:
support_data = pd.read_excel('support2020.xlsx')

In [6]:
support_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 505115 entries, 0 to 505114
Data columns (total 5 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   id                  505115 non-null  int64
 1   assignee_id         505115 non-null  int64
 2   requester_language  505115 non-null  object
 3   created_time        505115 non-null  datetime64[ns]
 4   solved_time         505115 non-null  object
dtypes: datetime64[ns](1), int64(2), object(2)
memory usage: 19.3+ MB

In [7]:
support_data.head(2)

,id,assignee_id,requester_language,created_time,solved_time
0,3674186,449058839,english,2019-04-01 00:05:00,2019-04-01 00:28:00
1,3674340,611940426,english,2019-04-01 00:07:00,2019-04-02 09:58:00

In [31]:
filtered_data = support_data.loc[support_data['solved_time'] != 1095]

In [32]:
filtered_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 504042 entries, 0 to 505114
Data columns (total 6 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   id                  504042 non-null  int64
 1   assignee_id         504042 non-null  int64
 2   requester_language  504042 non-null  object
 3   created_time        504042 non-null  datetime64[ns]
 4   solved_time         504042 non-null  object
 5   created_date        504042 non-null  object
dtypes: datetime64[ns](1), int64(2), object(3)
memory usage: 26.9+ MB

In [33]:
filtered_data['solved_time'] = pd.to_datetime(filtered_data['solved_time'])

<ipython-input-33-97919ad052e6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data['solved_time'] = pd.to_datetime(filtered_data['solved_time'])

In [8]:
import datetime

In [9]:
support_data['created_date']=pd.to_datetime(support_data['created_time']).apply(lambda x: x.date())

In [35]:
filtered_data['AHT'] = filtered_data['solved_time'] - filtered_data['created_time']

<ipython-input-35-fb8d84c65add>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data['AHT'] = filtered_data['solved_time'] - filtered_data['created_time']

In [36]:
filtered_data.head()

,id,assignee_id,requester_language,created_time,solved_time,created_date,AHT
0,3674186,449058839,english,2019-04-01 00:05:00,2019-04-01 00:28:00,2019-04-01,0 days 00:23:00
1,3674340,611940426,english,2019-04-01 00:07:00,2019-04-02 09:58:00,2019-04-01,1 days 09:51:00
2,3674096,636234043,english,2019-04-01 00:08:00,2019-04-01 01:07:00,2019-04-01,0 days 00:59:00
3,3674031,74731268,english,2019-04-01 00:09:00,2019-04-04 14:56:00,2019-04-01,3 days 14:47:00
4,3675019,450996499,english,2019-04-01 00:12:00,2019-04-01 00:18:00,2019-04-01,0 days 00:06:00

In [37]:
filtered_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 504042 entries, 0 to 505114
Data columns (total 7 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   id                  504042 non-null  int64
 1   assignee_id         504042 non-null  int64
 2   requester_language  504042 non-null  object
 3   created_time        504042 non-null  datetime64[ns]
 4   solved_time         504042 non-null  datetime64[ns]
 5   created_date        504042 non-null  object
 6   AHT                 504042 non-null  timedelta64[ns]
dtypes: datetime64[ns](2), int64(2), object(2), timedelta64[ns](1)
memory usage: 30.8+ MB

In [42]:
import numpy as np

In [43]:
filtered_data['aht_minutes'] = filtered_data['AHT']/np.timedelta64(1,'m')

<ipython-input-43-ce2d8d063d41>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data['aht_minutes'] = filtered_data['AHT']/np.timedelta64(1,'m')

In [44]:
filtered_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 504042 entries, 0 to 505114
Data columns (total 8 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   id                  504042 non-null  int64
 1   assignee_id         504042 non-null  int64
 2   requester_language  504042 non-null  object
 3   created_time        504042 non-null  datetime64[ns]
 4   solved_time         504042 non-null  datetime64[ns]
 5   created_date        504042 non-null  object
 6   AHT                 504042 non-null  timedelta64[ns]
 7   aht_minutes         504042 non-null  float64
dtypes: datetime64[ns](2), float64(1), int64(2), object(2), timedelta64[ns](1)
memory usage: 34.6+ MB

In [45]:
filtered_data.head()

,id,assignee_id,requester_language,created_time,solved_time,created_date,AHT,aht_minutes
0,3674186,449058839,english,2019-04-01 00:05:00,2019-04-01 00:28:00,2019-04-01,0 days 00:23:00,23.0
1,3674340,611940426,english,2019-04-01 00:07:00,2019-04-02 09:58:00,2019-04-01,1 days 09:51:00,2031.0
2,3674096,636234043,english,2019-04-01 00:08:00,2019-04-01 01:07:00,2019-04-01,0 days 00:59:00,59.0
3,3674031,74731268,english,2019-04-01 00:09:00,2019-04-04 14:56:00,2019-04-01,3 days 14:47:00,5207.0
4,3675019,450996499,english,2019-04-01 00:12:00,2019-04-01 00:18:00,2019-04-01,0 days 00:06:00,6.0

In [46]:
filtered_data['gt1dayfilter'] = filtered_data['aht_minutes'] > 480

<ipython-input-46-b4977531082e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data['gt1dayfilter'] = filtered_data['aht_minutes'] > 480

In [47]:
filtered_data.head()

,id,assignee_id,requester_language,created_time,solved_time,created_date,AHT,aht_minutes,gt1dayfilter
0,3674186,449058839,english,2019-04-01 00:05:00,2019-04-01 00:28:00,2019-04-01,0 days 00:23:00,23.0,False
1,3674340,611940426,english,2019-04-01 00:07:00,2019-04-02 09:58:00,2019-04-01,1 days 09:51:00,2031.0,True
2,3674096,636234043,english,2019-04-01 00:08:00,2019-04-01 01:07:00,2019-04-01,0 days 00:59:00,59.0,False
3,3674031,74731268,english,2019-04-01 00:09:00,2019-04-04 14:56:00,2019-04-01,3 days 14:47:00,5207.0,True
4,3675019,450996499,english,2019-04-01 00:12:00,2019-04-01 00:18:00,2019-04-01,0 days 00:06:00,6.0,False

In [48]:
filtered_data.groupby(['gt1dayfilter'])['id'].count()

gt1dayfilter
False    222762
True     281280
Name: id, dtype: int64

In [11]:
df = support_data.groupby(['created_date','requester_language'], as_index= False)['id'].count()

In [12]:
df.head()

  created_date requester_language   id
0   2019-04-01            chinese    2
1   2019-04-01              czech    2
2   2019-04-01              dutch   13
3   2019-04-01            english  680
4   2019-04-01             french   87

In [13]:
df.rename(columns={'id':'total_requests'}, inplace=True)

In [14]:
df['total_agents'] = support_data.groupby(['created_date','requester_language'], as_index= False).assignee_id.nunique()

In [15]:
df.to_csv('support_aggregated.csv', index=False)

In [37]:
df.head()

  created_date requester_language  total_requests  total_agents
0   2019-04-01            chinese               2             2
1   2019-04-01              czech               2             2
2   2019-04-01              dutch              13            13
3   2019-04-01            english             680           367
4   2019-04-01             french              87            60

In [40]:
filtered_data['more_than_1_day'] = filtered_data['AHT']  > pd.Timedelta(Days >=1)

NameError: name 'Days' is not defined

In [49]:
from pmdarima import auto_arima

ModuleNotFoundError: No module named 'pmdarima'

In [50]:
pip install pmdarima

Note: you may need to restart the kernel to use updated packages.Collecting pmdarima

WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='pypi.org', port=443): Read timed out. (read timeout=15)")': /simple/pmdarima/

  Downloading pmdarima-1.7.1-cp38-cp38-win_amd64.whl (614 kB)
Requirement already satisfied: statsmodels<0.12,>=0.11 in c:\programdata\anaconda3\lib\site-packages (from pmdarima) (0.11.1)
Requirement already satisfied: pandas>=0.19 in c:\programdata\anaconda3\lib\site-packages (from pmdarima) (1.0.5)
Requirement already satisfied: scikit-learn>=0.22 in c:\programdata\anaconda3\lib\site-packages (from pmdarima) (0.23.1)
Collecting Cython<0.29.18,>=0.29
  Downloading Cython-0.29.17-cp38-cp38-win_amd64.whl (1.7 MB)
Requirement already satisfied: joblib>=0.11 in c:\programdata\anaconda3\lib\site-packages (from pmdarima) (0.16.0)
Requirement already satisfied: numpy>=1.17.3 in c:\programdata\anaconda3\lib\site-packages (from pmdarima) (1.18.5)
Requirement already satisfied: urllib3 in c:\programdata\anaconda3\lib\site-packages (from pmdarima) (1.25.9)
Requirement already satisfied: scipy>=1.3.2 in c:\programdata\anaconda3\lib\site-packages (from pmdarima) (1.5.0)
Requirement already satisfied: setuptools<50.0.0 in c:\programdata\anaconda3\lib\site-packages (from pmdarima) (49.2.0.post20200714)
Requirement already satisfied: patsy>=0.5 in c:\programdata\anaconda3\lib\site-packages (from statsmodels<0.12,>=0.11->pmdarima) (0.5.1)
Requirement already satisfied: pytz>=2017.2 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.19->pmdarima) (2020.1)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.19->pmdarima) (2.8.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn>=0.22->pmdarima) (2.1.0)
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from patsy>=0.5->statsmodels<0.12,>=0.11->pmdarima) (1.15.0)
Installing collected packages: Cython, pmdarima
  Attempting uninstall: Cython
    Found existing installation: Cython 0.29.21
    Uninstalling Cython-0.29.21:

  WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='files.pythonhosted.org', port=443): Read timed out. (read timeout=15)")': /packages/a6/cb/80bb617bf791a549cfe2bef1fae9df1411c784cff0fd5aca048f4eb43348/pmdarima-1.7.1-cp38-cp38-win_amd64.whl
ERROR: Could not install packages due to an EnvironmentError: [WinError 5] Access is denied: 'c:\\programdata\\anaconda3\\lib\\site-packages\\__pycache__\\cython.cpython-38.pyc'
Consider using the `--user` option or check the permissions.